
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ceddff;
  color: #1b520e;
}


header {
  display: flex;
  align-items: center;
  padding: 20px;
  background: white;
}

.logo {
  width: 60px;
  height: 60px;
  background: #26240a;
  border-radius: 50%;
  margin-right: 15px;
}


nav {
  background: #3c367a;
  text-align: center;
  padding: 10px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #fbf3cb;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 6px;
}

.highlight {
  border: 2px solid #26240a;
}




