
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ceddff;
  color: #1b520e;
}


header {
  display: flex;
  align-items: center;
  padding: 20px;
  background: white;
}

.logo {
  width: 60px;
  height: 60px;
  background: #26240a;
  border-radius: 50%;
  margin-right: 15px;
}


nav {
  background: #3c367a;
  text-align: center;
  padding: 10px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #fbf3cb;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 6px;
}

.highlight {
  border: 2px solid #26240a;
}

.reviews {
  max-width: 1000px;     
  margin: 40px auto;      
  padding: 0 20px;
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  justify-content: center; 
}

.review-card {
  background: white;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}


.review-card img {
  width: 120px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
  margin: 0 auto 10px;
  display: block;
}

.book-title {
  font-size: 18px;
  margin: 12px 0 5px;
  color: #26240a;
}

.author {
  font-size: 14px;
  margin-bottom: 10px;
  color: #3c367a;
}

.stars {
  color: #26240a;
  font-size: 18px;
  letter-spacing: 3px;
}

.tbr-container {
  max-width: 1000px;
  margin: 20px auto 40px;
  padding: 0 20px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
}

.tbr-card {
  background: white;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.tbr-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 4px;
}

.book-title {
  font-size: 16px;
  margin: 12px 0 5px;
  color: #26240a;
}

.author {
  font-size: 14px;
  color: #3c367a;
}

footer {
  background: white;
  padding: 15px;
  font-size: 12px;
}

